#<IfModule mod_rewrite.c>
#    RewriteEngine on
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteCond %{REQUEST_URI} /(.*)/$
#    RewriteRule ^ /%1 [R=301,L]
#    RewriteRule index.php
#</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^.*$ ./index.php [L,QSA]
</IfModule>

Options -Indexes
