{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1>
            <span>History</span>
        </h1>
        <p>
            <span>BioSounds was based on the open-source project
            </span>
            <span>
                <a href="https://www.google.com/url?q=http://ljvillanueva.github.io/pumilio/&amp;sa=D&amp;source=editors&amp;ust=1639119754180000&amp;usg=AOvVaw0uQKBr_F02MQbdutgIRw9n">Pumilio</a>
            </span>
            <span>&nbsp;and started developing into an independent project in 2013 in the frame of the PhD of Kevin Darras (Agroecology, University of G&ouml;ttingen), together with Mauladi (Information Systems, University of Jambi). Noemi Perez (freelance web engineer) joined us later and considerably re-designed, re-factored and extended the tool&#39;s capabilities.</span>
        </p>
        <p>
            <span>The development was funded by the DFG CRC990 project&#39;s phase 1 and phase 2 grants.</span>
        </p>
        <p>
            <span><img src="{{ projectImagesUrl }}/dfg_logo.jpg" alt="DFG"></span>&nbsp;&nbsp;
            <span><img style="width: 250px; height: 260px;" src="{{ projectImagesUrl }}/fly_bee.png"></span>
        </p>
        <h1>
            <span>Current status</span>
        </h1>
        <p>
            <span>ecoSound-web was forked from BioSounds and is now developed by Kevin Darras (SEA Lab) in the frame of his PostDoc.</span>
        </p>
        <p>
            <span>The development is done by web engineer Pengwei Wang and funded by Westlake University. The website is hosted on
                <a href="https://www.gwdg.de/">GWDG</a>
                servers.
            </span>
        </p>
        <p>
            <span>
                <a href="https://en.westlake.edu.cn"><img src="{{ projectImagesUrl }}/westlake_univ.png" title="WestlakeUniversity" alt="westlake university logo"/></a>
            </span>&nbsp;&nbsp;
            <span>
                <a href="https://www.tomcwanger.com"><img style="width: 181px; height: 181px;" src="{{ projectImagesUrl }}/sealab_logo.png" title="SEA" alt="SEA logo"/></a>
            </span>
        </p>
    </div>
{% endblock %}
