<footer class="mt-auto">
	<div class="container text-muted py-4">
		<div class="row">
			<div class="col-lg-8">
				<p>Developed by <a href="http://www.crazycodelady.com" target="_blank" title="CrazyCodeLady. Noemi Perez">CrazyCodeLady - Noemi Perez</a></p>
				<p>"BioSounds Logo" is a derivative of two icons created by
					<a href="http://www.freepik.com" title="Freepik">Freepik</a> from
					<a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> and licensed by
					<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
				</p>
				<p>"BioSounds Logo" Copyright by
					<a href="http://www.crazycodelady.com" target="_blank" title="CrazyCodeLady - Noemi Perez">CrazyCodeLady - Noemi Perez</a>
				</p>
				<p><a href="#" title="Copyright information">&copy; 2019 LJV</a>. Licensed under the GPLv3
				</p>
			</div>
			<div class="col-lg-4 ml-auto text-right">
				<p>Project <a href="{{ baseUrl }}/project/show" title="About the project">{{ project_name }}</a></p>
				<p>Sound Files License - {{ projectLicense }}: {{ license_detail }}</p>
			</div>
		</div>
	</div>
</footer>
