<footer class="mt-auto">
    <div class="container text-muted py-4">
        <div class="row">
            <div class="col-lg-8">
                <p>Developed and designed by
                    <a href="http://www.crazycodelady.com" target="_blank" title="Noemi Perez Gilabert">Noemi Perez</a>.</p>
                <p>ecoSound-web logo © Kevin F.A. Darras 2021, All rights reserved.</p>
                <p>Copyright &copy; 2015 - 2020,
                    <a href="http://www.crazycodelady.com" target="_blank" title="Noemi Perez Gilabert">Noemi Perez</a>
                    and the BioSounds contributors
                    <a href="https://www.gnu.org/licenses/gpl-3.0" target="_blank" title="GPLv3">GPLv3</a>.
                </p>
            </div>

            <div class="col-lg-4 ml-auto text-right">
                <p>Project
                    <a href="{{ baseUrl }}/project/show" title="About the project">{{ project_name }}</a>
                </p>
                <p>Sound Files License -
                    {{ projectLicense }}:
                    {{ license_detail }}</p>
            </div>
        </div>
    </div>
</footer>
