{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1 class="c1 title">
            <span>Global Soundscapes Project</span>
        </h1>
        <p>
            The project unites soundscape science across terrestrial, marine, freshwater, and urban systems and comprises 93 collaborators who contribute meta-data from 204 studies (as of 2021-12-10).
        </p>
        <p>
            The project is open to new collaborators (contact: kdarras#at#gwdg#dot#de) and aims to serve as a useful starting point for novel soundscape-based analyses.
        </p>
        <p>
            <span><img src="{{projectImagesUrl}}/spatio-temporal_coverage.png" title=""/></span>
        </p>
        <p>
            <span>The meta-data are available
                <a class="c12" href="https://docs.google.com/spreadsheets/d/1m6rAkWKYFHKKdl2K7vzpgDEbIDr5vthkb4goKTMVms0">here</a>
                . We include soundscape recordings that meet the following requirements:</span>
        </p>
        <ul class="start">
            <li>
                <span>Stationary (no towed sensors or microphones mounted on cars)</span>
            </li>
            <li>
                <span>Passive (no human disturbance by the recordist)</span>
            </li>
            <li>
                <span>Ambient (no focus on a particular species or direction)</span>
            </li>
            <li>
                <span>Recorded over multiple sites of a region and/or days</span>
            </li>
        </ul>
        <h3>
            <span style="color: #4a86e8;">First synthesis: "Global, ambient soundscapes, across realms and disciplines"</span>
        </h3>
        <h5>
            <span style="color: #38761d;">Team</span>
        </h5>
        <p>
            <span>Lead: Kevin F.A. Darras</span>
            <span class="vert-super">1,2</span>
        </p>
        <p>
            <span>Co-leads: Steve Van Wilgenburg</span>
            <span class="vert-super">3</span>
            <span>
                (terrestrial), Songhai Li</span>
            <span class="vert-super">3</span>
            <span>
                (marine), Rodney Rountree</span>
            <span class="vert-super">4</span>
            <span>
                (freshwater), Li Juan</span>
            <span class="vert-super">1</span>
            <span>
                (GIS), Thomas Cherico Wanger</span>
            <span class="vert-super">1</span>
            <span>
                (supervision)</span>
        </p>
        <ol class="start" start="1">
            <li>
                <span>Westlake University, Hangzhou, China</span>
            </li>
            <li>
                <span>University of G&ouml;ttingen, G&ouml;ttingen, Germany</span>
            </li>
            <li>
                <span>Chinese Academy of Sciences, Sanya, China</span>
            </li>
            <li>
                <span>University of Victoria, Victoria, Canada</span>
            </li>
        </ol>
        <p>
            <span>Selected datasets from the Global Soundscape Projects will be uploaded and analysed on ecoSound-web, and we invite their creators as co-authors.</span>
        </p>
        <h5>
            <span style="color: #38761d;">Summary</span>
        </h5>
        <p>
            The acoustic make-up of the planet is little explored and knowledge is scattered across disciplines and biomes. The acoustic environment affects animal communication, health, and diversity, and it indicates a wide range of geological, biological, and anthropogenic processes through the anthropophony, biophony, and geophony. We collated an extensive dataset of soundscapes across all the planet's realms, namely the terrestrial, freshwater, marine, atmospheric, and subterranean realms.  We determine soundscape phonies' physical, global predictors, identify their drivers and threats, and how they change through time and space. We holistically map soundscapes across biomes and disciplines to produce the first global maps of soundscapes' components, and we analyse their interactions.
        </p>
    </div>
{% endblock %}
