{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center bg-light py-4">
        <img src="{{ imagesUrl }}/biosounds_logo_large.png" alt="ecoSound">
        <p class="lead mt-2">Open-source online platform for ecoacoustics</p>
    </div>
    <div class="container mb-5">
        <p style="text-align: center;">
            <span>
                <img src="{{imagesUrl}}/ecosound-web_infra.png">
            </span>
        </p>
        <p class="c0">
            <span class="c3">ecoSound-web is an open-source, online platform for collaboratively archiving and sharing audio recordings, manually creating and reviewing annotations in soundscapes, analysing target signals in time and frequency, and storing reference recordings for different soniferous taxa.</span>
        </p>
        <h1 class="c1" id="h.snyv6571pmgh">
            <span class="c2">References</span>
        </h1>
        <p class="c0">
            The precursor of ecoSound-web, BioSounds, has a scientific publication in
            <b>
                <a href="https://f1000research.com/articles/9-1224/v1">F1000Research</a>
            </b>, and ecoSound-web is on
            <b>
                <a href="https://github.com/ecomontec/ecoSound-web">GitHub</a>.</b>
            <h1 class="c1" id="h.hrgj46y6swje">
                <span class="c2">Collaboration</span>
            </h1>
        </p>
        <p class="c0">
            <span class="c3">We are open for collaboration with web engineers and ecologists. If you need to use ecoSound-web to annotate your soundscapes, or want to join its development, contact us (kdarras#at#gwdg#dot#de).</span>
        </p>
    </p>
</p></div>{% endblock %}
