{% extends 'base.html.twig' %}

{% block body %}
	<div class="jumbotron text-center bg-light py-4">
		<img src="{{ imagesUrl }}/biosounds_logo_large.png" alt="BioSounds">
		<p class="lead mt-2">BioSounds is a tool for generating, analysing and tagging animal sound spectrograms on the web.</p>
	</div>
	<div class="container mb-5">
		<h2>Project {{ project_name }}</h2>
		<p>{{ project_description }}</p>
	</div>
{% endblock %}
