{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row text-justify">
            <div class="col-lg-12">
                <h3>Project</h3>
                <p>Please use the template <b>src/templates/project.html.twig</b> to describe your project.</p>
            </div>
        </div>
    </div>
{% endblock %}
