<div class="collapse mb-5" id="siteFormSection">
    <div class="card">
        <div class="card-body">
            <button id="closeForm" class="close" type="button" data-toggle="collapse" data-target="#siteFormSection" aria-expanded="false" aria-controls="siteFormSection">
                <span>&times;</span>
            </button>
            <form id="siteForm" novalidate>
                <div class="form-group">
                    <label for="name" class="col-form-label-sm">Name</label>
                    <input id="name" type="text" name="name_text" class="form-control form-control-sm" maxlength="100" required>
                    <div class="invalid-feedback">
                        Please provide a site name.
                    </div>
                </div>
                <div class="form-group">
                    <label for="userId" class="col-form-label-sm">User</label>
                    <select id="userId" name="user_select-one" class="form-control form-control-sm" required>
                        {% for user in userList %}
                            <option value="{{ user.user_id }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="longitude" class="col-form-label-sm">Longitude</label>
                    <input id="longitude" type="text" name="longitude_number" class="form-control form-control-sm" maxlength="100" required>
                    <div class="invalid-feedback">
                        Please provide the longitude.
                    </div>
                </div>
                <div class="form-group">
                    <label for="latitude" class="col-form-label-sm">Latitude</label>
                    <input id="latitude" type="text" name="latitude_number" class="form-control form-control-sm" maxlength="100" required>
                    <div class="invalid-feedback">
                        Please provide the latitude.
                    </div>
                </div>
                <div class="form-group">
                    <label for="gadm1" class="col-form-label-sm">GADM1</label>
                    <input id="gadm1" type="text" name="gadm1_text" class="form-control form-control-sm" maxlength="100">
                    <div class="invalid-feedback">
                        Please provide the GADM1.
                    </div>
                </div>
                <div class="form-group">
                    <label for="gadm2" class="col-form-label-sm">GADM2</label>
                    <input id="gadm2" type="text" name="gadm2_text" class="form-control form-control-sm" maxlength="100">
                    <div class="invalid-feedback">
                        Please provide the GADM2.
                    </div>
                </div>
                <div class="form-group">
                    <label for="gadm3" class="col-form-label-sm">GADM3</label>
                    <input id="gadm3" type="text" name="gadm3_text" class="form-control form-control-sm" maxlength="100">
                    <div class="invalid-feedback">
                        Please provide the GADM3.
                    </div>
                </div>
                <div class="form-group">
                    <label for="centro" class="col-form-label-sm">Centro</label>
                    <select id="centro" name="centroid_select-one" class="form-control form-control-sm" required>
                        <option value="true">true</option>
                        <option value="false">false</option>
                    </select>
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-outline-primary">
                        <i class="fas fa-save"></i>
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
