{% extends 'base.html.twig' %}

{% block body %}
	<div class="jumbotron text-center bg-light py-4">
		<img src="{{ imagesUrl }}/biosounds_logo_large.png" alt="BioSounds">
		<p class="lead mt-2">BioSounds is a tool for generating, analysing and tagging animal sound spectrograms on the web.</p>
	</div>
	<div class="container">
		<h2>Project {{ project_name }}</h2>
		<p>{{ project_description }}</p>
		<h3>Participation</h3>
		<p>We are looking for bird call identifiers!</p>
		<p>You need good knowledge of Sumatran bird calls to join the project. If you are qualified and interested, please contact us at kdarras@gwdg.de</p>
		<p>Bird identifiers are hired for whole surveys and remunerated per recording hour.</p>
		<h3>Recordings</h3>
		<p>We have round the clock recordings for a whole year's time from the following locations: secondary forest, jungle rubber, rubber and oil palm plantations,
		as well as primary and secondary swamp forest and bush swamp. The birds need to be identified in a subset of the data.</p>
		<img src="{{ project_images_url }}/beo.jpg" class="rounded" alt="BioSounds">
	</div>
	<div class="container text-center">
        <h3>Blog</h3>
	</div>
{% endblock %}
