{#<div class="loading" tabindex="-1" role="dialog">#}
{#	<div class="loading-container text-center">#}
{#		<img src="{{ baseUrl }}/assets/images/page-loader.gif" alt="loader">#}
{#		<h5><small id="loading-text">Loading...</small></h5>#}
{#	</div>#}
{#</div>#}

<div class="loading" tabindex="-1" role="dialog">
	<div class="d-flex justify-content-center">
		<div class="spinner-grow text-secondary" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
</div>
