<div class="collapse card text-center position-absolute" id="login-form">
    <div class="card-body">
      <form action="{{ baseUrl }}/login/login" method="post">
        <div class="form-group">
          <input type="text" id="inputUsername" name="inputUsername" class="form-control form-control-sm" placeholder="Username" required autofocus>
        </div>
        <div class="form-group">
          <input type="password" id="inputPassword" name="inputPassword" class="form-control form-control-sm" placeholder="Password" required>
        </div>
        <button class="btn btn-sm btn-outline-primary" type="submit">Log In</button>
      </form>
    </div>
  </div>
</div>
